<mat-card>
    <form #operatorForm="ngForm" (ngSubmit)="save(operatorForm.value)">
      <mat-card-header>
        <mat-card-title><h2>{{operator.name ? 'Edit' : 'Add'}} Operator</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <input type="hidden" name="href" [(ngModel)]="operator.href">
        <mat-form-field>
          <input matInput placeholder="Operator Name" [(ngModel)]="operator.name"
                 required name="name" #name>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit"
                [disabled]="!operatorForm.form.valid">Save</button>
        <button mat-raised-button color="secondary" (click)="remove(operator.href)"
                *ngIf="operator.href" type="button">Delete</button>
        <a mat-button routerLink="/operator-list">Cancel</a>
      </mat-card-actions>
      <mat-card-footer>
        <div class="giphy">
          <img src="{{operator.giphyUrl}}" alt="{{operator.name}}">
        </div>
      </mat-card-footer>
    </form>
  </mat-card>
